.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: .75rem 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 31%;
    background-color: var(--Off-white);
    z-index: 3;
}

.app-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--Very-dark-blue);
    z-index: 1;
    opacity: 0.5;
}

@media only screen and (min-width: 992px){
    .overlay {
        display: none;
    }
}

.invisible {
    display: none;
}