.mob-menu {
    display: flex;
    flex-direction: column;
    width: 5rem;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8%;
    border-radius: 5px;
    z-index: 11;
}

@media only screen and (min-width: 992px){
    .mob-menu {
        display: none;
    }
}

.mob-menu > a {
    text-decoration: none;
    color: var(--Very-dark-blue);
    padding: .75rem 0;
    text-align: center;
    font-size: 1.1rem;
}

.invisible {
    visibility: hidden;
}