.App{
    position: relative;
    padding: 1rem 1rem;
}

@media only screen and (min-width: 768px) {
    .App {
        padding: 1.5rem 5rem
    }
}

@media only screen and (min-width: 992px){
    .App {
        padding: 3rem 10rem;
    }
}

.dim {
    background-color: var(--Grayish-blue);
}

